<h1>Products form</h1>

<form action="/api/products" method="post">
    <label for="title">Title</label><br />
    <input type="text" id="title" name="title" /><br />

    <label for="description">Description</label><br />
    <textarea id="description" name="description"></textarea><br />

    <label for="description">Category</label><br />
    <textarea id="category" name="category"></textarea><br />

    <label for="price">Price</label><br />
    <input type="number" id="price" name="price" /><br />

    <label for="code">Code</label><br />
    <input type="text" id="code" name="code" /><br />

    <label for="stock">Stock</label><br />
    <input type="number" id="stock" name="stock" /><br />

    <input type="submit" value="Send" />
</form>